body {
    background: #838383;
    color: #ffff;
}

#fotoPerfil {
    width: 250px; 
    height: 250px;
    display: block; 
    margin-left: auto; margin-right: auto; 
    margin-top: 50px; margin-bottom: 0px;
}

.paddingDefault {
    padding: 30px;
}

h1 {
    font-size: 35px;
    text-align: center;
}

p {
    text-align: center;
}

.whiteBack {
    background: #ffffff;
    padding: 0 40px;
}

h2 {
    margin-right: 15%;
    margin-left: 3.3%;
    color: #777777;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 30px;
}

ul {
    color: #555555;
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
    margin-left: 3.3%;
}

li {
    margin-bottom: 53px;
}

.styleLists {
    font-size: 25px;
}

.styleLists li:before {
    content: "\25D7   ";
}

.subtitle {
    padding: 15px;
    font-size: 20px
}

#imgQualities {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    transition: 1s box-shadow;
}

#imgQualities:hover {
    box-shadow: 40px 40px 10px #838383;
} 

.comeback {
    position: absolute;
    left: 25px;
    border-radius: 8px;
    border-style: solid;
    padding: 3px;
    cursor: pointer;
    transition: 0.5s all;
}

.comeback:hover {
    background: #ecab30;
    color: #ffffff;
    border-color: #ffffff;
}

.comeback:active {
    background: rgb(181, 255, 44);
    color: #ffffff;
    border-color: #ffffff;
}

@media screen and (max-width: 480px) {
    #fotoPerfil {
        width: 150px; 
        height: 150px;
    }

    h1 {
        font-size: 28px;
        font-weight: bold;
    }

    .subtitle {
        padding: 15px 0;
        font-size: 17px;
    }

    ul {
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    h2 {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding-bottom: 20px;
    }

    li {
        font-size: 23px;
        margin-bottom: 20px;
    }

    .styleLists li:before {
        content: none;
    }

    .whiteBack {
        padding: 0 0px;
    }

    #imgQualities {
        display: block;
        margin-top: 3em;
        width: 100%;
        transition: 1s box-shadow;
    }

    .size20 {
        text-align: right;
    }
}