.background {
    background: linear-gradient(#ffffff 60%, #808080 100%);
    margin-bottom: 41%;
}

.header {
    background: url(bg_dev6.jpeg);
    padding: 50px;
}

#imagePerfil {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.copyright {
    background: #838383;
    padding: 4px;
    text-align: center;
}

.textBeginning {
    padding-top: 10px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 3.5px 3.5px #252525;
}

.comeback {
    position: absolute;
    left: 25px;
    border-radius: 8px;
    border-style: solid;
    padding: 3px;
    cursor: pointer;
    transition: 0.5s all;
}

.comeback:hover {
    background: #ecab30;
    color: #ffffff;
    border-color: #ffffff;
}

.comeback:active {
    background: rgb(181, 255, 44);
    color: #ffffff;
    border-color: #ffffff;
}

.options {
    display: inline-block;
}

.pad {
    margin: 2px auto 5px auto;
}

main {
    width: 480px;
    margin: 20px auto;
    color: #3b3b3b;
}

form label, P {
    font-size: 18px;
}

fieldset label {
    font-size: 15px;
}

main label {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
}

.input {
    display: block;
    width: 30%;
    padding: 2px;
}

#descriptionspace {
    padding: 5px;
}

#sendbutton {
    margin-top: 15px;
    width: auto;
    border-radius: 8px;
    border-style:solid;
    margin-bottom: 40px;
    padding: 3px;
    cursor: pointer;
    transition: 0.5s all;
}

#sendbutton:hover {
    background: #ecab30;
    color: #ffffff;
    border-color: #ffffff;
}

#sendbutton:active {
    background: rgb(181, 255, 44);
    color: #ffffff;
    border-color: #ffffff;
}

@media screen and (max-width: 375px) {
    .background {
        background: #ffffff;
    }
    
    .copyright, #device, #imagePerfil, main {
        width: auto;
    }

    main {
        margin: 20px auto;
        color: #3b3b3b;
    }

    label {
        display: inline-block;
        padding-top: 1px;
    }

    .comeback {
        left: 75%;
    }

    .input {
        width: 50%;
    }
}