.copyright {
    background: #838383;
    padding: 4px;
    text-align: center;
}

.options {
    display: inline-block;
}

.pad {
    margin: 2px auto 5px auto;
}

main {
    width: 940px;
    margin: 20px auto;
}

form label, P {
    font-size: 18px;
}

div label {
    font-size: 15px;
}

main label {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
}

.input {
    display: block;
    width: 30%;
    padding: 2px;
}

#descriptionspace {
    padding: 5px;
}

#sendbutton {
    margin-top: 15px;
    width: auto;
}