.copyright {
    background: #838383;
    padding: 4px;
    text-align: center;
}

.options {
    display: inline-block;
}

.pad {
    margin: 2px auto 5px auto;
}

main {
    width: 940px;
    margin: 20px auto;
}

form label, P {
    font-size: 18px;
}

fieldset label {
    font-size: 15px;
}

main label {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
}

.input {
    display: block;
    width: 30%;
    padding: 2px;
}

#descriptionspace {
    padding: 5px;
}

#sendbutton {
    margin-top: 15px;
    width: auto;
    border-radius: 8px;
    border-style:solid;
    margin-bottom: 40px;
    padding: 3px;
    cursor: pointer;
    transition: 0.5s all;
}

#sendbutton:hover {
    background: #ecab30;
    color: #ffffff;
    border-color: #ffffff;
}

#sendbutton:active {
    background: rgb(181, 255, 44);
    color: #ffffff;
    border-color: #ffffff;
}