.header {
    background: url(imgs/bg\ dev6.jpeg);
    padding: 50px;
}

#imagePerfil {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.textBeginning {
    padding-top: 10px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 3.5px 3.5px #252525;
}

div {
    background: white;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.absoluteposition {
    position: absolute;
    top: 60px;
}

nav li {
    display: inline;
    padding: 15px;
}

nav a {
    color: #838383;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover {
    color: #ecab30;
    font-size: 170%;
}

nav a:active {
    color: #99d71c;
}

ul {
    text-align: center;
}

.imgMidias {
    width: 3%;
    height: 3%;
}

.imgMidias:hover {
    filter: opacity(50%);
}

footer {
    background: #838383;
    padding: 4px;
    text-align: center;
}