body {
    background: #838383;
    color: #ffff;
}

#fotoPerfil {
    width: 250px; 
    height: 250px;
    display: block; 
    margin-left: auto; margin-right: auto; 
    margin-top: 50px; margin-bottom: 40px;
}

.paddingDefault {
    padding: 20px;
}

h1 {
    font-size: 35px;
    text-align: center;
}

p {
    text-align: center;
}

.whiteBack {
    background: #ffffff;
    padding: 40px;
}

h2 {
    text-align: center;
    color: #777777;
    font-size: 30px;
}

.withoutMarginStart {
    margin-block-start: 0em;
}

ul {
    color: #555555;
    display: inline-block;
    vertical-align: top;
    margin-right: 10%;
}

li {
    margin-bottom: 25px;
}

.styleLists {
    font-size: 22px;
}

.size20 {
    font-size: 20px
}

#imgQualities {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}